/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  .app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    background-color: black;
    margin-bottom: 20px;
  }

  nav ul li {
    padding: 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .current {
    border-bottom: 4px solid white;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }

  .navbar.navbar-dark{
    width:100%;
    min-height: 60px;
    margin:0px auto;
    left:0;
    right:0;
    padding:0;
}

.button {
    /* background: linear-gradient(to left, rgb(0,0,0), rgb(0, 0, 0)); */
    background-color: #000000;
    height: 40px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    /* padding-left: 3px; */
    /*-webkit-transition-duration: 0.4s;  Safari */
    transition-duration: 0.4s;
  }

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: linear-gradient(to top right, rgb(80, 190, 202) , rgb(19, 83, 112) , rgb(0, 0, 0));
  }
  
  
  .hero{
    color:rgb(0, 1, 66);
    background: url("../Images/background1.jpg") center no-repeat;
    background-size:cover;
    height: 30vh;
    width: 100vw;
    box-shadow:0 0 10px rgb(0, 0, 0);
    z-index:1;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    grid-area:hero;
    
  }
  .hero > h1{
    margin:1;
    font-size:60px;
    text-shadow: 0px 2px 6px rgb(255, 255, 255);
  }
  .hero > h5{
      margin:1;
      font-size:20px;
      text-shadow: 0px 0px 4px rgb(255, 255, 255);
    }
  
  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
    
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
    
  .container-row{
    display: flex;
  }
  
  .container-row .hero-image{
    flex: 1;
  }
  
  .container-row .A3L_Slogan {
    flex: 5;
  }
  